<% if !item.nil? %>
	<% form_for(item, :remote => true) do |f| %>
		<table class="itemstable">
		    <td class="name_col"><%= f.text_field :name %></td>
		    <td class="desc_col"><%= f.text_field :description %></td>
			<td class="cat_col"><%= f.select :category, CATEGORIES %></td>
			<td class="st_col"><%= f.select :status, STATUS_CODES, {}, {:onchange => "toggle_holder()"} %>
			<span id="holder_toggle" style="display: <%= (item.status == "Requisitado" ? "inline" : "none") %>"> por <%= f.text_field :holder, :style => "width: 75%" %></span></td>
		    <td class="edit_col"><%= image_submit_tag "accept_icon.png", :style => "width: 23px; height: 20px" %></td>
		    <td class="del_col"><%= link_to image_tag("back_icon.png"), :url => {:action => :cancel, :id => item.id}, :remote => true %></td>
		</table>
	<% end %>
<% else %>
<table class="itemstable">
	<tr>
		<td class="name_col"></td>
		<td class="desc_col"></td>
		<td class="cat_col"></td>
		<td class="st_col"></td>
		<td class="edit_col"><%= link_to image_tag("add_icon.png"), :url => new_item_path, :remote => true %></td>
		<td class="del_col"></td>
	</tr>
</table>
<% end %>